.nonee {
    display: none !important;
    visibility: hidden !important;
}

.bld {
    font-size: 2rem !important;
    font-weight: 700 !important;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
}

.bxShadow {
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}